
.main{
    display: flex;
    justify-content: center;
}

.contener{
    width: 500px;
    border: 1px solid yellow;
    padding-left: 9rem;
    margin: 1rem;
    background-color: #7b7676;
}

button{
    width: 9rem;
    height: 1.5rem;
    font-weight: bold;
    margin-left: 5rem;
    background-color: cadetblue;
    border-radius: 3px;
}



#results{
    height: 1.5rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-left: 9rem;
    margin-top: 1rem;
}